

<!doctype html>
<html>
	<head>
        <title>Tristan's Portfolio</title>
        <link rel="stylesheet" href="styles.css">
	</head>
	<body>
        <header>
            <img src="pictures/dummy.png" Width="150"  alt=""> 
            <h1>Tristan Briesno</h1>
            <h2>Introduction</h2>
            <p>
                My name is Tristan Briseno, and I am an aspiring to be a computer scientist.
                I have no prior experience whaen it comes to computer science. I didnt have the best grades either. 
                But since my highschool years, I went to military school and found a new self discipline.
                I plan to impliment this into my everyday life and achieve success. I believe that 
                You can learn anything that you seek to learn, through determination and hard work.
                I am currently in the process of learning multiple coding languages to  </p></div></section>
            </p>
        </header>
        <article>
            <section><!--Skills Section-->
                <h3>Skills</h3>
                <ul>
                    <li>Communication</li>
                    <li>Teamwork</li>
                    <li>Organization</li>
                    <li>Leardership</li>
                    <li>Scheduling</li>
                    <li>Project Management</li>
                    <li>Conflict Management</li>
                </ul>
            </section>
            <section><!--Certifications Section-->
                <h3>
                    <h3>Certifications</h3>
                    <ul>
                        <li>Food Handlers</li>
                        <li>CPR</li>
                        <li>CERT</li>
                    </ul> 
                </h3>
            </section>
            <footer>
                <h3>Additional And Contact Information</h3>
                <p>Phone: 415-716-5299</p>
                <p>E-Mail: tristan.k.briseno@gmail.com</p>
                <a href="https://www.linkedin.com/in/triatan-briseno-64035b1b4/"> My Linkedin </a><br/>
                <a href="https://github.com/tristanbriseno"> My Github </a> 
            </footer>
        </article>
	</body>
</html>
