body {background-color: #cfe0e8;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    font-weight: 200;
    flex-direction: column;
    flex: content;
    -ms-flex-align: start;
    margin: 2em;
    padding: 2em;
    border-width: 1em;
    border-style: dotted;
    border-color: #b7d7e8;
}

h1   {color: blue;
font-family: Arial, Helvetica, sans-serif;}
ul    {color: #36486b;
font-family: Arial, Helvetica, sans-serif;
font-size: large ;}

footer {
color: green;
font-family: Arial, Helvetica, sans-serif;
font-size: large
;
}
